<% provide(:title, "About") %>
  <div class="py-3">
    <h1>About</h1>
    <p>
     如果您也在为上传产品的效率低感觉烦恼，那么我们这款自动化批量生产表格的系统将会彻底的解决您的困恼。
    </p>
    <p>
    我们的系统是时候多种变体的产品，可以进行图片上传，模版制作，一键导出。</p>
    <p>
    <p>
    在产品编辑上传方面，给您和您的团队节省宝贵的时间和精力。</p>
    <p>详情联系我们的技术客服，备注您的需求： <a href="mailto:<%=email%>"><%=email%></a>.</p>

  </div>
