<h4 class=""><i class="fa fa-th"></i>五运六气</h4>
<ul class="nav flex-column">
  <li class="nav-item">
    <%= link_to "新增人物",new_wuyun_path, class: "nav-link"%>
  </li>
  <li class="nav-item">
    <%= link_to "人物管理",wuyuns_path, class: "nav-link"%>
  </li>

</ul>
